.card-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(26, 44, 74, 0.15) 0px 0px 80px 0px;
    width: 90%;
    max-width: 500px;
    align-items: flex-start;
    
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 75px;
    text-align:left;
    margin-top: 70px;
    text-size-adjust: 100%;
    transition: .3s;
}

.card-container img {
    width: 100px;
    
    
}


.card-container p {
    width: 95%;
    margin: 0;
    font-size: 17px;
}

.card-container h4 {
    color: rgb(23, 32, 75);
}

.card-container h5 {
    margin: 10px 0 25px 0;
    color: rgb(113, 118, 140);
    
}
.card-container h5:hover {
    color: rgb(14, 118, 160);
}

.user-comment {
    margin-top: 10px;
}

.user-comment img {
    width: 75px;
    
}

.user-comment h4 {
    font-size: 14px;
    margin: 0;
}