.header-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: block;
    box-sizing: border-box;
}

.header-container img {
    width: 120px;
    margin: 20px auto 10px 20px;
    cursor: pointer;
}

.header-container div {
    width: 40px;
    margin: 20px  20px 0;
    cursor: pointer;
}

.header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
}

.header-hero h1 {
    width: 100%;
    font-size: 65px;
    font-weight: 700;
    color: rgb(23, 32, 75);
}

.header-hero p {
    width: 70%;
    font-size: 15px;
    color: rgb(113, 118, 140);
}


.button-one {
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    background-color: rgb(255, 123, 180);
    border: none;
    padding: 14px 35px 14px 35px;
    margin-top: 25px;
    transition: .3s;
}

.button-one:hover {
    background-color: rgb(147, 73, 216);
}

.selos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.selos-container img {
    width: 150px; 
}